/* Reset */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
    
    .fl1  {
        float: left;
        padding-left: 10%;
    }
    .fl2 {
        float: right;
        color: green;
        padding-right: 10%;
        margin-top: 10px;
    }
    .img1, .img2, .img3 {
        float: left;
        margin-top: 10px;
        width: 14%;
        text-align: center;
        padding: 5%;
        padding-right: 1%;
    }
    .cls2 {
        float: left;
        margin-top: 10px;
        width: 14%;
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cls4 {
        float: left;
        margin-top: 10px;
        width: 14%;
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cls6 {
        float: left;
        margin-top: 10px;
        width: 14%;
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .cls7 {
        float: left;
        margin-top: 40px;
        width: 14%;
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 20px;
        padding-top: 20px;
        border: 3px solid green;
    }


    /* Main Styling */
    html,body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      line-height: 1.7em;
    }
    
    a {
      color: #333;
      text-decoration: none;
    }
    
    h1, h2, h3 {
      padding-bottom: 20px;
    }
    
    p {
      margin: 10px 0;
    }
    
    /* Utility Classes */
    .container {
      margin: auto;
      max-width: 1700px;
      overflow: auto;
    }
    
    .text-primary {
      color: #f7c08a;
    }
    
    .lead {
      font-size: 20px;
    }
    
    .btn {
      display: inline-block;
      font-size: 18px;
      color: #fff;
      background:green;
      padding: 13px 20px;
      border: none;
      cursor: pointer;
    }
    .btin {
        display: inline-block;
        font-size: 18px;
        color:green;
        padding: 10px 19px;
        border: none;
        cursor: pointer;
        border: green solid 3px;
        border-radius: 5px;
      }

    
    .btn-light {
      background: #f4f4f4;
      color: #333;
    }
    
    .bg-dark {
      background: #333;
      color: #fff;
    }
    
    .bg-l1 {
      background:blue;
      color:white;
    }

    .bg-l2 {
        background: red;
        color:white;
      }

    .bg-l3 {
        background: green;
        color:white;
      }
    
    .bg-l4 {
      background: orange;
      color:white;
    }
    
    .clr {
      clear: both;
    }
    
    .l-heading {
      font-size: 40px;
    }
    
    
    
    /* Navbar */
    #navbar {
      background:green;
      color: #fff;
      overflow: auto;
    }
    
    #navbar a {
      color: #fff;
    }
    
    
    #navbar ul {
      list-style: none;
      float: right;
    }
    
    #navbar ul li {
      float: left;
    }
    
    #navbar ul li a {
      display: block;
      padding: 15px;
      text-align: center;
    }
    
    
    /* Showcase */
    #showcase {
      background: url('/IMG-20210225-WA0002.jpg') no-repeat center center/cover;
      background-blend-mode: darken;
      height: 600px;
    }
    
    #showcase .showcase-content {
      color: #fff;
      text-align: center;
      padding-top: 170px;
    }
    
    #showcase .showcase-content h1 {
      font-size: 60px;
      line-height: 1.2em;
    }
    
    #showcase .showcase-content p {
      padding-bottom: 20px;
      line-height: 1.7em;
    }
    
    /* Home Info */
    #home-info {
      height: 400px;
    }
    
    #home-info .info-img {
      float: left;
      width: 50%;
      background: url('../img/photo-1.jpg') no-repeat;
      min-height: 100%;
    }
    
    #home-info .info-content {
      float: right;
      width: 50%;
      height: 100%;
      text-align: center;
      padding: 50px 30px;
      overflow: hidden;
    }
    
    #home-info .info-content p {
      padding-bottom: 30px;
    }
    
    /* Features */
    .box {
      float: left;
      width: 23%;
      padding: 50px;
      text-align:center;
    }

    #features {
        margin-left: 150px;
        margin-top: -50px;
    }
    
    
    
    
